@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
    ViewData["Title"] = "Contact";
}
<style>

    .map-container-5 {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

        .map-container-5 iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }

</style>
<h4>Contact Us</h4>
<hr />

<!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card card-cascade narrower">
           
            <!--Card content-->
            <div class="card-body card-body-cascade text-center">

<pre>
No 107, Thantayaraye Kyaung Street,
11 wards, Hlaing Township,
Yangon, Myanmar

<i class="fa fa-phone"> 09793123591</i>
<i class="fa fa-phone"> 09444333571</i>
<i class="fa fa-envelope"> contact@kncelectronicstore.com</i>
</pre>
                Follow Us On <a type="button" href="https://www.facebook.com/KNCES.mm/" class="btn btn-social-icon btn-facebook" style="color:blue; border-style:solid; border-color:blue;"><i class="fa fa-facebook"></i></a>

            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card card-body-cascade">

            <!--Card content-->
            <div class="card-body card-body-cascade text-center">

                <!--Google map-->
                <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 200px">
                    <iframe src="https://maps.google.com/maps?q=16.842966,96.129337&hl=es;z=14&amp;output=embed" frameborder="0"
                            style="border:0" allowfullscreen></iframe>
                </div>


            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->